#tabs { margin-left: -45px; }

#tabs ul {
  margin: 0px;
}

#tabs li {
  display: inline;
  list-style-type: none;
  background-color: green;
  margin-left: 8px;
  padding: 2px;
}

#tabs li a {
  color: white;
  text-decoration: none;
}
