!!!
%html
  %head
    %title Chat
    
    %script{ :type=> "text/javascript", :src => Rs('jquery.js')}
    %script{ :type=> "text/javascript", :src => Rs('jquery.scrollTo.js')}
    %script{ :type=> "text/javascript", :src => Rs('chat.js')}
    
    %link{ :type => "text/css", :rel => "stylesheet", :href => Rs('style.css') }
    
  %body
      
    %form{ :action => Rs(:username), :method => "POST" }
      %input{ :type => :text, :name => :username, :id => :username, :value => session[:username], :size => 10}
      %input{ :type => :submit, :value => "set username" }
      
    %input{ :type => :hidden, :name => :last, :id => :last, :value => 0 }
    
    %iframe{ :id => "msgs_frame", :src => "/frame", :width => "600px", :height => "300px"}
    
    %br/
    %br/
              
    %form{ :onsubmit => "return false;", :action => Rs(:message), :method => "POST" }
      %input{ :type => :input, :id => :message, :name => :message, :size => 65 }
      %input{ :type => :submit, :id => :send, :name => :send, :value => "Send" }
    
