!!!
%html
  %head
    %script{ :type=> "text/javascript", :src => Rs('js/lib/jquery.js')}
    %script{ :type=> "text/javascript", :src => Rs('js/lib/jquery.scrollTo.js')}
    %script{ :type=> "text/javascript", :src => Rs('js/frame.js')}
  %body
    #messages
    #end

