!!!
%html
  %head
    %title Chat
    
    %script{ :type=> "text/javascript", :src => Rs('jquery.js')}
    %script{ :type=> "text/javascript", :src => Rs('jquery.scrollTo.js')}
    %script{ :type=> "text/javascript", :src => Rs('frame.js')}
    
    %link{ :type => "text/css", :rel => "stylesheet", :href => Rs('style.css') }
    
  %body
    #messages
    
    #end
    
