%h2 Rooms
%ul
  - Room.all do |room|
    %li= A(room.name, :href => Rs(:room, room.id))
  
%form{ :action => Rs(:create_room), :method => "POST"}
  %label
    %input{ :type => :text, :id => :room_name, :name => :room_name }
    %input{ :type => :submit, :value => "Create room" }
