%script{ :type=> "text/javascript", :src => Rs('js/room.js')}

%input{ :type => :hidden, :id => :room, :name => :room, :value => @room.id }

%h3{:style => "float:left;"}= @room.name
%button#quit{:style => "float:right;"} Quit

#chat
  #msgs_frame
    #messages
    #end

  %select#users{ :multiple => "multiple"}

  
%form{ :onsubmit => "return false;", :action => Rs(:message), :method => "POST" }
  %input{ :type => :input, :id => :message, :name => :message }
  %input{ :type => :submit, :id => :send, :name => :send, :value => "Send" }
  
